In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("shelter_data.csv")
df

  shelter_id     shelter_name  capacity
0         S1    Alpha Shelter       200
1         S2     Beta Shelter       150
2         S3    Delta Shelter       300
3         S4     Echo Shelter       100
4         S5  Foxtrot Shelter       250

In [12]:
small_shelters = df[df["capacity"] < 200]
small_shelters

  shelter_id  shelter_name  capacity
1         S2  Beta Shelter       150
3         S4  Echo Shelter       100

In [13]:
roads = {
 'S1': ['S2', 'S3'],
 'S2': ['S1', 'S4'],
 'S3': ['S1', 'S5'],
 'S4': ['S2'],
 'S5': ['S3']
}
roads

{'S1': ['S2', 'S3'],
 'S2': ['S1', 'S4'],
 'S3': ['S1', 'S5'],
 'S4': ['S2'],
 'S5': ['S3']}

In [ ]:
from collections import deque 

def find_reachable_shelters(graph, start):
    """" Returns shelter IDs reachable from the start shelter"""
    visited: set = set()
    queue: deque = deque([start])
    reachable_shelters = []


    while queue:
        vertex = queue.popleft()
        if vertex not in visited:
            visited.add(vertex)
            reachable_shelters.append(vertex)
                
            for neighbour in graph[vertex]:
                if neighbour not in visited:
                    queue.append(neighbour)

    return reachable_shelters
    
reachable_shelters = find_reachable_shelters(roads, "S1")
reachable_shelters

''

In [12]:
df[(df["shelter_id"].isin(reachable_shelters)) & (df["capacity"] > 200)]

  shelter_id     shelter_name  capacity
2         S3    Delta Shelter       300
4         S5  Foxtrot Shelter       250